Repository rust-lang/rfcs, pull requests merged in 2019-06, with the labels that each got.

#2678 Named custom cargo profiles
  text/2678-named-custom-cargo-profiles.md
Labels: A-profile, T-cargo, disposition-merge, finished-final-comment-period

#2710 Fix typos in RFC 2532
  text/2532-associated-type-defaults.md
Labels: not-rfc

#2717 Spell out the name for 2094-nll.md
  text/2094-nll.md
Labels: not-rfc

#2707 Mini-RFC: Make `..` a pattern syntactically
  text/2707-dotdot-patterns.md
Labels: A-patterns, A-syntax, T-lang, disposition-merge, finished-final-comment-period

#2359 RFC: Finalize syntax for slice patterns with subslices
  text/2359-subslice-pattern-syntax.md
Labels: A-patterns, A-slice, A-syntax, T-lang, disposition-merge, finished-final-comment-period
