Repository rust-lang/rfcs, pull requests merged in 2019-03, with the labels that each got.

#2648 Simplify template for FCP-complete merging steps
  0000-template.md
Labels: not-rfc

#2592 RFC: stabilize `std::task` and `std::future::Future`
  text/2592-futures.md
Labels: A-async-await, A-futures, A-traits-libstd, A-types-libstd, T-lang, T-libs, disposition-merge, finished-final-comment-period

#2657 Roadmap for 2019
  text/2657-roadmap-2019.md
Labels: A-roadmap, T-core, disposition-merge, finished-final-comment-period
