Repository rust-lang/rfcs, pull requests merged in 2019-05, with the labels that each got.

#2363 Allow arbitrary enums to have explicit discriminants
  text/2363-arbitrary-enum-discriminant.md
Labels: A-discriminant, A-enum, A-repr, A-syntax, T-lang, disposition-merge, finished-final-comment-period

#2689 introduce "compiler-team contributors"
  text/2689-compiler-team-contributors.md
Labels: T-compiler, disposition-merge, finished-final-comment-period

#2603 RFC: Symbol Mangling v2
  text/2603-symbol-name-mangling-v2.md
Labels: A-linkage, I-nominated, T-compiler, disposition-merge, finished-final-comment-period
