Repository rust-lang/rfcs, pull requests merged in 2019-12, with the labels that each got.

#2797 Announcing the FFI-unwinding Project Group
  text/2797-project-ffi-unwind.md
Labels: A-ffi, A-panic, T-lang, disposition-merge, finished-final-comment-period

#2837 Demote Apple 32bit targets to Tier 3
  text/0000-demote-apple-32bit.md
Labels: T-compiler, T-release, disposition-merge, finished-final-comment-period

#2840 Non-ASCII identifiers: NFC normalization is performed by lexer, not parser
  text/2457-non-ascii-idents.md
Labels: A-non-ascii-idents, T-lang
