Repository rust-lang/rfcs, pull requests merged in 2020-04, with the labels that each got.

#2879 Replace #2603's (Rust Symbol Mangling) "v2" with "v0".
  text/2603-rust-symbol-name-mangling-v0.md
Labels: not-rfc

#2834 Cargo report future-incompat
  text/0000-cargo-report-future-incompat.md
Labels: A-diagnostics, A-lint, A-stability, T-cargo, T-compiler, disposition-merge, finished-final-comment-period

#2913 RFC 2700: Fix links to std::*::MAX
  text/2700-associated-constants-on-ints.md
Labels: not-rfc

#2836 Introduce the ASM project group
  text/0000-project-asm.md
Labels: A-ASM, T-lang, finished-final-comment-period

#2585 RFC for unsafe blocks in unsafe fn
  text/0000-unsafe-block-in-unsafe-fn.md
Labels: A-effects, A-syntax, A-typesystem, A-unsafe, T-lang, disposition-merge, finished-final-comment-period
