Repository rust-lang/rfcs, pull requests merged in 2020-05, with the labels that each got.

#2904 major change proposal process for compiler team
  text/0000-compiler-major-change-process.md
Labels: T-compiler, disposition-merge, finished-final-comment-period

#2921 Fix typo in 2857-roadmap-2020.md
  text/2857-roadmap-2020.md
Labels: not-rfc

#2929 Fix minor typos
  text/0019-opt-in-builtin-traits.md
  text/0040-libstd-facade.md
  text/0048-traits.md
  text/0049-match-arm-attributes.md
  text/0068-const-unsafe-pointers.md
  text/0092-struct-grammar.md
  text/0100-partial-cmp.md
  text/0109-remove-crate-id.md
  text/0115-rm-integer-fallback.md
  text/0130-box-not-special.md
  text/0132-ufcs.md
  text/0135-where.md
  text/0169-use-path-as-id.md
  text/0212-restore-int-fallback.md
  text/0213-defaulted-type-params.md
  text/0235-collections-conventions.md
  text/0243-trait-based-exception-handling.md
  text/0339-statically-sized-literals.md
  text/0344-conventions-galore.md
  text/0369-num-reform.md
  text/0380-stabilize-std-fmt.md
  text/0385-module-system-cleanup.md
  text/0390-enum-namespacing.md
  text/0403-cargo-build-command.md
  text/0503-prelude-stabilization.md
  text/0507-release-channels.md
  text/0528-string-patterns.md
  text/0546-Self-not-sized-by-default.md
  text/0550-macro-future-proofing.md
  text/0556-raw-lifetime.md
  text/0558-require-parentheses-for-chained-comparisons.md
  text/0560-integer-overflow.md
  text/0565-show-string-guidelines.md
  text/0572-rustc-attribute.md
  text/0587-fn-return-should-be-an-associated-type.md
  text/0735-allow-inherent-impls-anywhere.md
  text/0769-sound-generic-drop.md
  text/0809-box-and-in-for-stdlib.md
  text/0832-from-elem-with-love.md
  text/0839-embrace-extend-extinguish.md
  text/0909-move-thread-local-to-std-thread.md
  text/0911-const-fn.md
  text/0968-closure-return-type-syntax.md
  text/0982-dst-coercion.md
  text/1023-rebalancing-coherence.md
  text/1044-io-fs-2.1.md
  text/1066-safe-mem-forget.md
  text/1096-remove-static-assert.md
  text/1105-api-evolution.md
Labels: not-rfc

#2856 RFC: Project Groups
  resources/project-group-workflow.svg
  text/0000-project-groups.md
Labels: A-governance, T-core, disposition-merge, finished-final-comment-period
