Repository rust-lang/rfcs, pull requests merged in 2021-09, with the labels that each got.

#3171 Fix typo in 1598-generic_associated_types.md
  text/1598-generic_associated_types.md
Labels: not-rfc

#3123 Scrape code examples from `examples/` directory for Rustdoc
  text/3123-rustdoc-scrape-examples.md
Labels: T-rustdoc, finished-final-comment-period, disposition-merge, to-announce

#3119 Rust-lang crate ownership policy
  text/0000-rust-crate-ownership.md
  text/3119-crate-ownership.md
Labels: T-core, finished-final-comment-period, disposition-merge, to-announce, T-libs

#2845 RFC: Supertrait item shadowing
  text/0000-supertrait-item-shadowing.md
Labels: T-lang, finished-final-comment-period, disposition-merge, A-traits, A-trait-object, to-announce
