Repository rust-lang/rfcs, pull requests merged in 2024-08, with the labels that each got.

#3671 Promote aarch64-apple-darwin to Tier 1
  text/0000-promote-aarch64-apple-darwin-to-tier-1.md
Labels: T-compiler, T-infra, finished-final-comment-period, disposition-merge, T-release, to-announce

#3676 Fix filename for RFC 3671
  text/3671-promote-aarch64-apple-darwin-to-tier-1.md
Labels: not-rfc

#3668 Async closures
  text/3668-async-closures.md
Labels: T-lang, finished-final-comment-period, disposition-merge, A-async-await, A-closures, to-announce, WG-async

#3529 Add named path bases to cargo (v2)
  text/3529-cargo-path-bases.md
Labels: T-cargo, finished-final-comment-period, disposition-merge, to-announce

#3685 Fix typo in 3324-dyn-upcasting.md
  text/3324-dyn-upcasting.md
Labels: not-rfc

#3660 crates.io: Crate Deletions
  text/3660-crates-io-crate-deletions.md
Labels: finished-final-comment-period, disposition-merge, T-crates-io, to-announce
